maps/masks/DECm15_mask.fits
maps/lrg_s01_del.hpx2048.extended.fits.gz
maps/lrg_s01_del.hpx2048.public.fits.gz
maps/lrg_s02_del.hpx2048.extended.fits.gz
maps/lrg_s02_del.hpx2048.public.fits.gz
maps/lrg_s03_del.hpx2048.extended.fits.gz
maps/lrg_s03_del.hpx2048.public.fits.gz
maps/lrg_s04_del.hpx2048.extended.fits.gz
maps/lrg_s04_del.hpx2048.public.fits.gz
maps/masks/decals_mask.fits
maps/masks/DECm30_mask.fits
maps/masks/des_mask.fits
maps/masks/ebv_0.05_mask.fits
maps/masks/ebv_0.10_mask.fits
maps/masks/ebv_0.15_mask.fits
maps/masks/gal40_mask.fits
maps/masks/gal60_mask.fits
maps/masks/lrg_s01_msk.hpx2048.extended.fits.gz
maps/masks/lrg_s01_msk.hpx2048.public.fits.gz
maps/masks/lrg_s02_msk.hpx2048.extended.fits.gz
maps/masks/lrg_s02_msk.hpx2048.public.fits.gz
maps/masks/lrg_s03_msk.hpx2048.extended.fits.gz
maps/masks/lrg_s03_msk.hpx2048.public.fits.gz
maps/masks/lrg_s04_msk.hpx2048.extended.fits.gz
maps/masks/lrg_s04_msk.hpx2048.public.fits.gz
maps/masks/north_mask.fits
maps/masks/PR3_lens_mask.fits
maps/masks/ngc_mask.fits
maps/masks/PR4_lens_mask_alt.fits
maps/masks/PR4_lens_mask.fits
maps/masks/sgc_mask.fits
maps/masks/star_1500_mask.fits
maps/masks/star_2500_mask.fits
mc_correction/__pycache__/do_mc_corr.cpython-310.pyc
mc_correction/__pycache__/lensing_sims.cpython-310.pyc
spectra/lrg_cross_pr3.json
spectra/lrg_cross_pr4.json
spectra/__pycache__/calc_cl.cpython-310.pyc
maps/PR4_lens_kap_filt.hpx2048.fits
maps/PR3_lens_kap_filt.hpx2048.fits
__pycache__/globe.cpython-310.pyc
